[Unit]
Description=Reality Connect Server Service

[Service]
ExecStart=/home/ubuntu/reality-connect/venv/bin/python3.10 run.py
WorkingDirectory=/home/ubuntu/reality-connect
Restart=always
User=ubuntu
StandardOutput=append:/home/ubuntu/reality-connect/service.log
StandardError=append:/home/ubuntu/reality-connect/service.log

[Install]
WantedBy=multi-user.target
